#container {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto 
    auto auto auto auto auto auto auto auto;
    border: 1px solid black;

}

.cell {
    border: 1px solid black;
    margin: 15px;
}